input.custom_textbox {
	color: #DB066D;
	font-size: 16px;
	border: 2px solid #DB066D;
	border-radius: 8px;
	padding-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 6px;
}

::-webkit-input-placeholder {
	color: #EB88B4;
}

:-moz-placeholder {
	color: #EB88B4;
}