* {
	margin: 0px;
	padding: 0px;
}

body {
	text-align: center;
}

div#title {
	margin-top: 12%;
}

img#img_title {
	width: 80%;
}


div#main {
	margin-top: 24px;
	font-size: 80%;
}

div#buttons {
	margin-top: 24px;
	margin-bottom: 10%;
	width: 100%;
}

div.button {
	background-color: #DB066D;
	border-radius: 10px;
	height: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
	width: 108px;
	margin-left: auto;
	margin-right: auto;
}

img.button_image {
	margin-top: 2px;
	height: 100%;
}
