<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns="http://java.sun.com/xml/ns/javaee"
     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
     http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

  <display-name>TestServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>


<context-param>
  <param-name>contextConfigLocation</param-name>
  <param-value>/WEB-INF/spring/applicationContext.xml</param-value>
</context-param>


<!--
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
-->

	<servlet>
		<servlet-name>mainservlet</servlet-name>
<!-- 	<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>	-->
		<servlet-class>RequestDivideEntrance</servlet-class>

		<!-- "byName" ... 名前により自動的なオブジェクトの参照を行う。 -->
		<init-param>
			<param-name>spring.autowire</param-name>
			<param-value>byName</param-value>
		</init-param>
<!--
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts/struts-config.xml</param-value>
		</init-param>
-->

 	</servlet>
	<servlet-mapping>
	    <servlet-name>mainservlet</servlet-name>
	    <url-pattern>/mainservlet</url-pattern>
	</servlet-mapping>
</web-app>
